<% include ../partials/header %>

<div class="container">
    <div class=row>
    
    
        <h1 style="text-align: center">Edit comment</h1>
        <div style="width: 30%; margin: 40px auto;">
            <form action="/campgrounds/<%= campground_id %>/comments/<%= comment._id%>?_method=PUT" method="post">
                <div class=form-group>
                        <!--  name="comment[text]"  insert text into comment object, nakes retrieving in POST route easier -->
                    <input class="form-control" type="text" name="comment[text]" value="<%= comment.text %>">
                </div>
                <!-- Author is added from req.user in post route -->
                <div class=form-group>
                    <input class="btn btn-default btn-primary btn-block" type="submit" name="submit">
                </div>
            </form>
            <a href="/campgrounds">Go Back</a>
        </div>
        
    </div>


<% include ../partials/footer %>
</div>