<% include partials/header  %>


<h1>Yelpc Camp landing page</h1>


<p>Welcome to Yelp Camp</p>


<a href="/campgrounds">View all campgrounds</a>


<a href="/campgrounds/new">Add a new campground</a>

<% include partials/footer %>